
#viewport {
  position: absolute;
  width: 500px;
  height: 500px;
  border: 1px solid red;
}
#canvas {
  position: absolute;
  width: 0px;
  height: 0px;
  transition: top 1s, left 1s;
}
.entity {
  position: absolute;
  width: 50px;
  height: 50px;
  overflow: hidden;
  box-sizing: border-box;
  transition: opacity 1s;
  background-size: auto 100%;
  font-size: 0;
  /* font-size: 10px; */
  opacity: 0;
}
.visible {
  opacity: 1;
}
.space {
  background-image: url('./icons/turf/space.dmi');
  animation: 3s steps(3, jump-start) 0s infinite normal none running simple-animation;
}
.floor {
  background-image: url('./icons/turf/floors.dmi');
}
.character {
  background-image: url('./icons/mob/golems.dmi');
  transition: top 1s, left 1s;
  z-index: 3;
}
.enemy {
  background-image: url('./icons/mob/golems.dmi');
  background-position: 50px;
  transition: top 1s, left 1s;
  z-index: 2;
}
.wall {
  background-image: url('./icons/turf/walls.dmi');
  z-index: 1;
}
.door {
  background-image: url('./icons/obj/doors/Doorglass.dmi');
  background-position: 50px;
  z-index: 1;
}
.door.closed {
  background-position: 0px;
}
.scaffolding {
  background-image: url('./icons/obj/structures.dmi');
  background-position: 0px;
  z-index: 1;
}
.welder {
  background-image: url('./icons/obj/items.dmi');
  background-position: -1500px;
  z-index: 1;
}
.screwdriver {
  background-image: url('./icons/obj/items.dmi');
  background-position: -1400px; /* 29th */
  z-index: 1;
}

@keyframes simple-animation {
  from {background-position: 0px;}
  50% {background-position: -50px;}
  to {background-position: -100px;}
}